*margin
.hoofdBlok{ height: 106px; 
    width: 1920;
     background-color: black;

}
 
}
    .container1{ display: flex; 
  justify-content: center; 
   height: 412px;
    width: 649;
     background-color: blue;
      

                }
